@import './header/header';
@import './footer/footer';

main {
    @import './banner/banner';
    @import './card/card';
    @import './skills/skills';
}

body {
    margin: 0;
    background-color: #1F2020;
    font-family: sans-serif;
    color: #ffff
}

html {
    scroll-behavior: smooth;
    /* Active le défilement fluide pour toute la page */
}